<div class="container">
  <div class="row">
    <% if @user.errors.any? %>
      <h2>We have some errors here !</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <hr>
    <% end %>
    <H1>Edit Profile</H1>

      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= f.label :intro, "Introduction" %>
          <%= f.text_field :intro, class: "form-control" %>
        </div>        

        <div class="form-group">
          <%= f.label :avatar, "大頭照上傳" %>
          <%= image_tag @user.avatar if @user.avatar? %>
          <%= f.file_field :avatar %>
        </div>

        <div class="form-group">
          <%= f.submit "Update", class: "btn btn-primary" %>
          <%= link_to "Cancel", user_path(@user), class: "btn btn-default" %>

        </div>
      <% end %>    
  </div>
</div>