<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <div class = "col-md-3 col-sm-4">
        <%= image_tag @user.avatar, class: "img-responsive img-rounded" %>          
      </div>
      


      <div class="col-md-9 col-sm-8">
        <h1><%= @user.name %></h1>  
        <p><%= @user.email %></p>
        <p><%= @user.intro %></p>
        <% if @user.email == current_user.email %>
          <%=link_to 'Edit Profile', edit_user_path, class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="clearfix"></div>

      <hr>
      <h3>已評論<%= @commented_restaurants.count %>間餐廳</h3>
        <div>
          <% @commented_restaurants.each do |restaurant| %>
            <div class="col-md-1 col-sm-2 text-center user-item">
              <%= link_to restaurant_path(restaurant) do %>
                <div class="my-restaurant">
                  <div class="my-restaurant-img">
                    <% if restaurant.image? %>
                      <%= image_tag restaurant.image, class: "img-responsive img-rounded" %>
                    <% else %>
                      <img src="http://via.placeholder.com/50x50" class="img-responsive img-rounded">
                    <% end %>                    
                  </div>
                  <div>
                    <%= restaurant.name %>
                  
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
